<div id="footer">
  <div id="footer-inner">
    <div class="group">
      <div class="footer-mod">
        <p class="logo">
          <a href="/"><img width="80" alt="dribbble" src="https://d13yacurqjgara.cloudfront.net/assets/logo-footer-hd-7d48605c3dd16b200b692360e25b894c.png"></a>
          <br>Show and tell for designers</p>
        <p class="about">What are you working on? Dribbble is a community of designers sharing screenshots of their work, process, and projects.</p>
      </div>
      <div class="footer-mod">
        <ul class="extra-links">
          <li><a id="f-home" href="/about">About</a></li>
          <li><a href="http://help.dribbble.com">Help</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="http://shop.dribbble.com/">Shop</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <li><a href="http://help.dribbble.com/handbook">Handbook</a></li>
          <li><a href="/branding">Brand</a></li>
          <li><a href="/advertise">Advertise</a></li>
          <li><a href="http://developer.dribbble.com">API</a></li>
          <li><a href="/integrations">Integrations</a></li>
        </ul>
      </div>
      <div class="footer-mod">
        <h3>
          <a href="/jobs">
            Jobs <span class="meta">for Designers</span>
</a>        </h3>
        <ol class="jobs-list">
          <li class="group">
            <a class="item-team" rel="tipsy" href="/lonelyplanet" original-title="Visit the team's profile">
              <img src="https://d13yacurqjgara.cloudfront.net/users/555393/avatars/normal/Dribbble_Profile_Icon_3.jpg?1398873891" alt="Dribbble profile icon 3">
            </a>
            <a class="job-edit" rel="tipsy" data-creator-id="555393" href="/account/jobs/10452/edit" original-title="Edit this job">
              <img src="https://d13yacurqjgara.cloudfront.net/assets/icon-edit-button-d1f89f265002207a1c4a2c99971ec36a.png" alt="Icon edit button">
            </a>
            <a target="_blank" title="posted January 12, 2016" class="item-link group" data-url="http://www.lonelyplanet.com/careers/#cce05832-cd59-47dc-a938-c73b5f8ae4b7" href="http://www.lonelyplanet.com/careers/#cce05832-cd59-47dc-a938-c73b5f8ae4b7">
              <span class="item-info">
      <span class="item-title">Lonely Planet</span>
              <span class="item-desc">Product Designer</span>
              </span>
              <span class="item-meta">Nashville or San Francisco</span>
            </a>
          </li>
          <li class="group">
            <a class="item-team" rel="tipsy" href="/fuzz" original-title="Visit the team's profile">
              <img src="https://d13yacurqjgara.cloudfront.net/users/188961/avatars/normal/Logo_300.png?1394807055" alt="Logo 300">
            </a>
            <a class="job-edit" rel="tipsy" data-creator-id="188961" href="/account/jobs/10530/edit" original-title="Edit this job">
              <img src="https://d13yacurqjgara.cloudfront.net/assets/icon-edit-button-d1f89f265002207a1c4a2c99971ec36a.png" alt="Icon edit button">
            </a>
            <a target="_blank" title="posted January 26, 2016" class="item-link group" data-url="https://fuzzproductions.com/jobs/apply/uxlead" href="https://fuzzproductions.com/jobs/apply/uxlead">
              <span class="item-info">
      <span class="item-title">Fuzz</span>
              <span class="item-desc">Product Design Lead</span>
              </span>
              <span class="item-meta">Brooklyn, New York</span>
            </a>
          </li>
        </ol>
      </div>
      <div class="footer-mod last">
        <div class="ad thedeck target group notloaded">
          <a href="http://decknetwork.net/" class="flag">Ads via The Deck</a>
        </div>
      </div>
    </div>
    <h4 id="pixels-total" class="group">
  <strong>453,909,188,634</strong> pixels dribbbled
</h4>
    <p>Copyright © 2009–2016 Dribbble LLC. All screenshots © their respective owners. Shipped from Salem, Mass. USA.</p>
    <p class="follow">
      <a href="/dribbble"><img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-dribbble-0ebe5597e0f8842727369b9ec2273396.png" alt="Icon team dribbble"></a>
      <a href="http://twitter.com/dribbble"><img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-twitter-dc5f98054923bbeaa4f54caa16f07a74.png" alt="Icon team twitter"></a>
      <a href="http://facebook.com/dribbble"><img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-facebook-3a4a626bc48c60d5bc902e94fda22180.png" alt="Icon team facebook"></a>
      <a href="http://instagram.com/dribbble"><img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-instagram-49c2065ba69f14958c720a9f1777e2f7.png" alt="Icon team instagram"></a>
      <a href="/stories">
        <img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-blog-0f684522b6afa95d3bc1d8fc4911b2da.png" alt="Icon team blog">
      </a>
    </p>
  </div>
</div>
