<div id="header" class="group">
  <div id="header-inner" class="group">
    <div id="logo">
      <a href="/"><img alt="dribbble" src="images/logo-small-2x-a81be932c17af956c1a82680798db9df.png"></a>
    </div>
    <a href="#nav" id="toggle-nav">Toggle navigation</a>
    <ul id="nav">
      <li id="t-search">
        <form id="search" action="https://dribbble.com/search">
          <input class="search-text placeholder" type="text" name="q" placeholder="Search " value="">
        </form>
      </li>
      <li id="t-home">
        <a href="/">Home</a>
        <ul class="shot-menu tabs">
          <li class=" active">
            <a href="/">Following</a>
          </li>
          <li><a href="/activity">Activity</a></li>
          <li><a href="/suggestions">Suggestions</a></li>
          <li><a href="/pro">Pro</a></li>
        </ul>
      </li>
      <li id="t-shots">
        <a class="has-sub" href="/shots">Shots</a>
        <ul class="tabs">
          <li><a href="/shots">Popular</a></li>
          <li><a href="/shots?sort=recent">Recent</a></li>
          <li><a href="/shots?list=teams">Teams</a></li>
          <li><a href="/shots?list=debuts">Debuts</a></li>
          <li><a href="/shots?list=playoffs">Playoffs</a></li>
          <li><a href="/shots?list=animated">Animated GIFs</a></li>
        </ul>
      </li>
      <li id="t-players">
        <a class="has-sub" href="/designers">Designers</a>
        <ul class="tabs">
          <li><a href="/designers">All</a></li>
          <li><a href="/designers?for_hire=on">For Hire</a></li>
          <li class="separate"><a href="/designers/overview">Top Skills &amp; Locations</a></li>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/cities">Cities</a></li>
          <li><a href="/countries">Countries</a></li>
        </ul>
      </li>
      <li id="t-teams">
        <a class="has-sub" href="/teams">Teams</a>
        <ul class="tabs">
          <li><a href="/teams">All</a></li>
          <li><a href="/teams?hiring=on">Hiring Designers</a></li>
          <li><a href="/teams?for_hire=on">Design Teams for Hire</a></li>
          <li class="separate"><a href="/teams/info">Add Your Design Team</a></li>
        </ul>
      </li>
      <li id="t-stories">
        <a href="/stories">Stories</a>
        <ul class="tabs">
          <li><a href="/stories">Latest Stories</a></li>
          <ul class="latest-stories">
            <li class="separate"><a href="/stories/2016/01/27/for-the-win-justas-galaburda">For the Win: Justas Galaburda </a></li>
            <li><a href="/stories/2016/01/26/global-meetup-sponsor-sticker-mule">Global Meetup Sponsor: Sticker Mule</a></li>
            <li><a href="/stories/2016/01/26/december-dribbble-meetup-wrap-up">December Dribbble Meetup Wrap-Up</a></li>
            <li><a href="/stories/2016/01/25/weekly-replay">Weekly Replay: Jan 18</a></li>
            <li><a href="/stories/2016/01/21/pep-rally-lviv">Pep Rally: Lviv</a></li>
          </ul>
          <li class="separate"><a href="/account/notifications?weekly_replay=true">Subscribe</a></li>
        </ul>
      </li>
      <li id="t-meetups">
        <a href="/meetups">Meetups</a>
        <ul class="tabs">
          <li><a href="/meetups">Meetups</a></li>
          <li><a href="/meetups/new">Host a Meetup</a></li>
        </ul>
      </li>
      <li id="t-shop">
        <a href="/goods">Shop</a>
        <ul class="tabs">
          <li><a href="/goods">Goods by Designers</a></li>
          <li><a href="/deals">Deals for Designers</a></li>
          <li class="separate"><a href="http://shop.dribbble.com/">Dribbble Shop</a></li>
        </ul>
      </li>
      <li id="t-jobs">
        <a href="/jobs">Jobs</a>
        <ul class="tabs">
          <li><a href="/jobs">All</a></li>
          <li><a href="/jobs?location=Seattle">Near You</a></li>
          <li><a href="/jobs?location=Anywhere">Remote / Anywhere</a></li>
          <li><a href="/jobs?teams_only=true">@ Teams</a></li>
          <li class="separate"><a href="/jobs/info">Post a Job</a></li>
        </ul>
      </li>
      <li id="t-more">
        <a href="/highlights">
          <span>More</span>
        </a>
        <ul class="tabs">
          <li><a href="/highlights">Highlights</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/buckets">Buckets</a></li>
          <li><a href="/colors">Colors</a></li>
          <li><a href="/tags">Tags</a></li>
          <li class="separate"><a href="/about">About</a></li>
          <li><a href="/integrations">Integrations</a></li>
        </ul>
      </li>
      <li id="t-upld">
        <a href="/shots/new"> <span>Upload</span>
        </a>
      </li>
      <li id="t-activity">
        <a class="has-sub" href="/activity">
          <span>Activity</span>
        </a>
        <ul class="tabs activity-mini">
          <li class="like">
            <span class="vcard">
    <a class="url" rel="contact" href="/ChrisVara">Chris Vara</a>
  </span>
            <strong>liked</strong>
            <a href="/shots/2435509-99s">99s</a>
            <em class="time">about 7 hours ago</em>
          </li>
          <li class="like">
            <span class="vcard">
    <a class="url" rel="contact" href="/ruiyizhou">Ruiyi Zhou</a>
  </span>
            <strong>liked</strong>
            <a href="/shots/2400065-Google-Voice">Google Voice</a>
            <em class="time">7 days ago</em>
          </li>
          <li class="like">
            <span class="vcard">
    <a class="url" rel="contact" href="/LeannePickering">Leanne Pickering</a>
  </span>
            <strong>liked</strong>
            <a href="/shots/2435509-99s">99s</a>
            <em class="time">8 days ago</em>
          </li>
          <li class="like">
            <span class="vcard">
    <a class="url" rel="contact" href="/Amassenburg">Avery Massenburg</a>
  </span>
            <strong>liked</strong>
            <a href="/shots/2377890-iPad-image-browser">iPad image browser</a>
            <em class="time">14 days ago</em>
          </li>
          <li class="more">
            <a class="see-all" href="/activity">See all incoming activity</a>
          </li>
        </ul>
      </li>
      <li id="t-messages">
        <a href="/messages">
          <span>Messages</span>
        </a>
      </li>
      <li id="t-profile">
        <a class="has-sub" href="/websiddu">
          <img width="18" height="18" src="https://d13yacurqjgara.cloudfront.net/users/181671/avatars/mini/siddhartha.png?1401433888" alt="Siddhartha">
          <span class="profile-name">Siddhartha Gudipati</span>
        </a>
        <ul class="tabs">
          <li class="your-profile-generic"><a href="/websiddu">Your Profile</a></li>
          <li class="your-profile-name"><a class="url" rel="contact" href="/websiddu">Siddhartha Gudipati</a></li>
          <li>
            <a href="/websiddu/buckets">Buckets</a>
          </li>
          <li>
            <a href="/websiddu/lists">Lists</a>
          </li>
          <li>
            <a href="/websiddu/goods">Goods for Sale</a>
          </li>
          <li>
            <a href="/websiddu/stats">Stats</a>
          </li>
          <li>
            <a href="/playbook">Playbook</a>
          </li>
          <li class="separate"><a href="/account">Account Settings</a></li>
          <li><a rel="nofollow" data-method="delete" href="https://dribbble.com/session">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
