<header>
  <div class="team-header">
    <div class="team-info">
      <div class="team-info-cont row">
        <div class="profile-photo">
          <a class="photo" rel="contact" title="MadeByShape" href="/madebyshape">
            <div data-picture="" data-class="photo">
              <div data-media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)"></div>
              <img alt="null" class="photo" src="{{team.avatar_url}}"></div>
          </a>
        </div>
        <div class="profile-name">
          <h1>{{team.name}}</h1>
          <p ng-bind-html="team.bio">
          </p>
          <ul class="profile-details">
            <li>
              <a class="elsewhere-twitter" rel="tipsy noreferrer" target="_blank" href="/madebyshape/click?type=twitter" original-title="madebyshape on Twitter">
                <img src="images/post-twitter.svg" alt="Icon elsewhere twitter">
              </a>
            </li>
            <li>
              <a class="elsewhere-website" rel="tipsy noreferrer" target="_blank" href="/madebyshape/click?type=site" original-title="http://www.madebyshape.co.uk">
                <img src="images/public.svg" alt="Icon elsewhere website">
              </a>
            </li>
          </ul>
        </div>
        <div class="profile-stats">
          <div class="follow-prompt">
            <a class="follow" href="/madebyshape/followers">
              <span>Follow</span>
            </a>
            <a class="unfollow" href="/madebyshape/followers/madebyshape">
              <span>Following</span>
            </a> <a class="unblock" data-hover="Unblock" href="/blocks/madebyshape">Blocked</a>
          </div>


          <div class="stat">
            <small>
              FOLLOWERS
            </small>
            <strong>
              34,541
            </strong>
          </div>
          <div class="stat">
            <small>
              FOLLOWING
            </small>
            <strong>
              592
            </strong>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<div class="bg">
  <div class="team-members-div row">
    <ol class="team-members">
      <li class="team-members-label">&nbsp;&nbsp;{{members.length}} MEMBERS &nbsp;&nbsp;</li>
      <li ng-repeat="member in members">
        <a class="url hoverable" rel="contact" title="Jason Mayo" href="/madebymayo">
          <div data-picture="" data-class="photo">
            <div data-src="https://d13yacurqjgara.cloudfront.net/users/5577/avatars/mini/322f5e07c7d43d5123a1fac2ea59cb9e.jpg?1440183894"></div>
            <div data-media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)"></div>
            <img alt="{{member.name}}" class="photo" ng-src="{{member.avatar_url}}"></div>
        </a>
      </li>
    </ol>
    <div class="profile-hire">
      <a class="hire" rel="tipsy" href="/messages/new?recipient_id=madebyshape" original-title="Contact MadeByShape about a work opportunity.">
        <span>Hire Us</span>
      </a>
    </div>
  </div>
</div>
<div class="menu-bar">
  <div class="row menu-bar-row">
    <ul class="small-menu">
      <li>
        <a href=""> <strong>345</strong> TEAM SHOTS</a>
      </li>
      <li>
        <a href=""> <strong>345</strong> PERSONAL SHOTS</a>
      </li>
      <li>
        <a href=""><strong>35</strong> PROJECTS</a>
      </li>
    </ul>
    <div class="member-actions ">
      <a class="action settings" href="#">
        <span>Actions</span>
      </a>
    </div>
  </div>
</div>
<div id="wrap">
  <div id="wrap-inner">
    <div id="content" class="group">
      <div class="notice-alert">
        <h3><!-- message goes here --></h3>
        <a href="#" class="close">
          <img width="25" src="https://d13yacurqjgara.cloudfront.net/assets/icon-shot-x-light-2x-9756a11988521f9ef45eaa04e69543ed.png" alt="Icon shot x light 2x">
        </a>
      </div>
      <div id="main" class="main-full profile-container is-team">
        <ol class="dribbbles group">
          <li id="screenshot-2484730" class="group team" ng-repeat="shot in shots">
            <div class="dribbble">
              <div class="dribbble-shot">
                <div class="dribbble-img">
                  <a class="dribbble-link" ng-href="{{shot.html_url}}">
                    <div data-picture="" data-alt="{{shot.title}}">
                      <!-- <div data-src="{{shot.images.teaser}}"></div> -->
                      <div data-media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)"></div>
                      <noscript>
                        <img alt="{{shot.title}}" src="{{shot.images.teaser}}">
                      </noscript>
                      <img alt="{{shot.title}}" ng-src="{{shot.images.normal}}"></div>
                  </a>
                  <a class="dribbble-over" href="{{shot.html_url}}"> <strong>{{shot.title}}</strong>
                    <span class="comment" ng-bind-html="shot.description"></span>
                    <em class="timestamp">January 27, 2016</em>
                  </a>
                </div>
                <ul class="tools group" style="visibility: visible;">
                  <li class="fav">
                    <a href="#" class="toggle-fav" original-title=""> </a><a href="/shots/2484730-Web-App-List/fans" original-title="View fans of this shot">43</a>
                  </li>
                  <li class="cmnt">
                    <span original-title="">{{shot.likes_count}}</span>
                  </li>
                  <li class="views">
                    <span>{{shot.views_count}}</span>
                  </li>
                </ul>
              </div>
              <div class="extras">
                <a href="/shots/2484730-Web-App-List/rebounds">
                  <span rel="tipsy" class="rebound-mark has-rebounds" original-title="This shot has rebounds.">0</span>
                </a>
                <a href="/">
                  <span rel="tipsy" class="rebound-mark is-rebound" original-title="This shot is a rebound (reply) of another shot. View the original.">
                    <img width="16" height="16" alt="Rebound" src="https://d13yacurqjgara.cloudfront.net/assets/icon-rebound-2x-b7a869131942ad835e02ad0a4d3b219a.png">
                  </span>
                </a>
                <span rel="tipsy" class="attachments-mark" original-title="This shot has attachments">
                  <img width="16" height="16" alt="Attachments" ng-src="{{shot.user.avatar_url}}">
                </span>
              </div>
            </div>
            <h2 class="attribution hover-card-parent">
              <span class="attribution-team">
                <a class="url hoverable" rel="contact" href="/madebyshape"><img class="photo" ng-src="{{shot.user.avatar_url}}"> {{shot.user.name}}</a>
                  <a class="badge-link" href="/teams">
                    <span class="badge badge-team">Team</span>
                </a>
              </span>
              <span class="attribution-user">
                <a class="url hoverable" rel="contact" href="/madebymayo"><img class="photo" src="https://d13yacurqjgara.cloudfront.net/users/5577/avatars/mini/322f5e07c7d43d5123a1fac2ea59cb9e.jpg?1440183894"> Jason Mayo</a>
                  <a class="badge-link" href="/pro">
                    <span class="badge badge-pro">Pro</span>
                  </a>
              </span>
            </h2>
          </li>
        </ol>
        <div class="infinite" style="display: none;">
          <a href="#" class="form-btn">Load more…</a>
        </div>
        <div class="loading-more" style="display: none;">
          <span class="processing">Loading more…</span>
        </div>
        <div class="back-to-top">
          <a href="#"><img title="Back to Top" src="https://d13yacurqjgara.cloudfront.net/assets/icon-backtotop-795f8ffd4ef0525a2fdb42adf6ab07dd.png" alt="Icon backtotop"></a>
        </div>
      </div>
    </div>
    <!-- /content -->
  </div>
</div>
